# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# local|staging|production
APP_ENV=local

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="file:./db.sqlite"

GRAPHQL_ENDPOINT=http://localhost:3000/graphql

FIREBASE_API_KEY=AIzaXXXXXXXX-XXXXXXXXXXXXXX-XXX
FIREBASE_PROJECT_ID=xxx
FIREBASE_ADMIN_CLIENT_EMAIL=firebase-adminsdk-xxx@xxx.iam.gserviceaccount.com
FIREBASE_ADMIN_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nXXX\n-----END PRIVATE KEY-----\n"

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaXXXXXXXX-XXXXXXXXXXXXXX-XXX
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=xxx.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=xxx.firebaseio.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=xxx
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=xxx
USE_SECURE_COOKIES=false
FIREBASE_SECRET1="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
FIREBASE_SECRET2="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
NEXT_PUBLIC_REDIRECT_URL=http://localhost:3000
